.labelfileEncrypt{
  background-color: #8d0e0e;
  color: white;
  cursor: pointer;
  padding: 4px 40px;
  border-radius: 4px;
  margin: 0;
  transition: 0.4s;
}

.labelfileEncrypt:hover{
  background-color: #ca1e1e;
}

.textfileEncrypt{
  margin-right: 8px;
}

.wrapfileEncrypt{
  box-shadow: 1px 1px 5px #8d0e0e;
  padding:4px 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar{
  background-image: url('../src/assets/image/header.jpg');
}

.selected{
  background-color: #8d0e0e;
  color: white;
}

.nav-link{
  transition: 0.4s;
}

.nav-link:hover{
  background-color: #ca1e1e;
  color: white;
}

.btnbackground{
  background-color: #8d0e0e;
  color: white;
}

.btnbackground:hover{
  background-color: #ca1e1e;
  color: white;
}

.showPathToView{
  margin-top: 10px;
  padding: 4px 8px;
  background-color: #8d0e0e;
  color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #8d0e0e;
}